body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background-color: wheat;
    color: #333;
}

header {
    background-color: #004080;
    color: white;
    padding: 40px 0;
    text-align: center;
}

main {
    padding: 50;
}